body {
  font-family: 'Noto Sans', sans-serif;
font-family: 'Poppins', sans-serif;
margin:0;
padding: 0;
}
a{
  text-decoration: none;
  color: inherit;
  
}
li {
  list-style-type: none;
}
#check {
  display: none;
}
#check:checked ~ .barra { 
    transform: translate(300px);
}
.icon {
  padding: 30px;
  position: fixed;
  z-index: 2;
  cursor: pointer;
}
nav{
  width: 300px;
  height: 100% ;
  position: fixed;
  background-color: #ccc;
  padding-top: 50px;
  left: -300px;
  transition: all .25 linear;
  
}

/* body {
  background-color: #f3f3f3;
  padding: 0;
  margin: 0;
}

.header-info{
  display: none;
}
input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked ~ nav {
  transform: translateX(350px);
}
.menu-nav {
  padding:50px;
}
nav{
  background-color: var(--color-background-nav-lateral);
  width: 350px;
  top:70%;
  left: -350px;
  height: 100%;
  position: relative;
  
}

.bar li {
  top: 50px;
  width: 100%;
  position: absolute;
  text-align: center;
}
      
.bar li a {
display: block;
padding: 20px 5px;
}
  
.bar li:hover {
transition: 0.7s;
filter: invert(0.1);
background-color: var(--color-logo);
color: white;
}

label {
  padding: 15px;
  position: absolute;
  z-index: 2;
}
.bar li a {
text-decoration: none;
}
 */
